body {
  background:#0f172a;
  color:#fff;
  font-family:-apple-system;
  margin:0;
}

.app {
  max-width:480px;
  margin:auto;
}

.header {
  padding:20px;
}

.content {
  padding-bottom:90px;
}

.screen {
  display:none;
}

.screen.active {
  display:block;
}

/* BALANCE */
.balance-card {
  margin:10px;
  padding:18px;
  border-radius:18px;
  background:linear-gradient(135deg,#22c55e,#16a34a);
}

/* GRID CONTAS */
.accounts-grid {
  display:grid;
  grid-template-columns:1fr 1fr;
  gap:10px;
  padding:10px;
}

.account-card {
  padding:14px;
  border-radius:16px;
  font-size:14px;
}

/* CARD */
.card {
  background:#1e293b;
  margin:10px;
  padding:14px;
  border-radius:14px;
}

/* FORM */
input, select, button {
  width:100%;
  height:44px;
  margin-top:8px;
  border-radius:10px;
  border:none;
  font-size:16px;
}

/* 🔥 LISTA PREMIUM */
li {
  background:#1e293b;
  padding:14px;
  margin-top:10px;
  border-radius:16px;
  transition:0.2s;
  border:1px solid #334155;
}

li:active {
  transform:scale(0.97);
}

/* ESTRUTURA */
.item-top {
  display:flex;
  justify-content:space-between;
  align-items:center;
}

.desc {
  font-size:15px;
  font-weight:500;
}

.value {
  font-size:16px;
  font-weight:600;
}

.in {
  color:#22c55e;
}

.out {
  color:#ef4444;
}

.meta {
  font-size:12px;
  opacity:0.6;
  margin-top:4px;
}

/* TABBAR */
.tabbar {
  position:fixed;
  bottom:0;
  left:0;
  right:0;
  max-width:480px;
  margin:auto;
  display:flex;
  justify-content:space-around;
  padding:12px;
  background:#0f172a;
  border-top:1px solid #1e293b;
}

.tabbar button {
  background:none;
  border:none;
  color:#94a3b8;
}

.tabbar button.active {
  color:#22c55e;
}